In [3]:
# 예제 1
import pandas as pd # pandas를 pd라는 이름으로 실행시킬 수 있게 함
df=pd.read_csv("data.csv") # 파일 이름은 반드시 따옴표로 묶어야 함
print(df) # .head()는 상단 5행만 출력
# NaN은 결측치

    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

In [5]:
# 예제 2
import pandas as pd
df=pd.read_csv("data.csv")
print(df.info()) # .info()는 데이터 프레임의 정보를 요약해서 보여줌
# 각 열의 이름, 결측치가 아닌 값의 수와 데이터의 타입을 보여줌
# int64는 정수만을 나타내는 수, float는 소수점까지 나타내는 64비트의 수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        20 non-null     int64
 1   name      19 non-null     object
 2   category  18 non-null     object
 3   price     18 non-null     float64
 4   stock     20 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 932.0+ bytes
None

In [6]:
# 예제 3
import pandas as pd
df=pd.read_csv("data.csv")
price_column=df["price"] # 데이터프레임["열"] 또는 데이터프레임.열일 경우
# 해당 데이터 프레임에서 해당 열만을 이용해 새로운 데이터 프레임을 만듦
print(price_column)
print(df["price"].describe()) # .describe()는 수치형 데이터에 대한 통계를 제공함(평균, 최소값, 최대값, 사분위수 등...)

0     18.70
1     68.38
2       NaN
3     51.88
4     49.17
5     89.61
6     99.20
7     36.49
8     19.18
9     98.91
10      NaN
11    95.71
12    27.81
13    20.11
14    35.23
15    90.41
16    89.48
17    43.99
18    38.00
19    55.54
Name: price, dtype: float64
count    18.000000
mean     57.100000
std      29.728522
min      18.700000
25%      35.545000
50%      50.525000
75%      89.577500
max      99.200000
Name: price, dtype: float64

In [10]:
# 예제 4
import pandas as pd
df=pd.read_csv("data.csv")
print(df.isnull().sum()) # .isnull()은 데이터 프레임에서 결측치가 있는 값을 T/F로 알려줌(True가 결측치)
# .sum()을 붙이면 데이터 프레임의 각 열에 몇 개의 결측치가 있는지 알려줌
df_filled=df.fillna(0) # .fillna(숫자)는 데이터 프레임에서 결측치를 입력한 숫자로 대체함
print(df_filled)

id          0
name        1
category    2
price       2
stock       0
dtype: int64
    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3   0.00      1
3    4   Item_4  Category_3  51.88     14
4    5        0  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10           0  98.91     32
10  11  Item_11  Category_4   0.00     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17           0  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

In [13]:
# 예제 5
import pandas as pd
df=pd.read_csv("data.csv")
df_sorted=df.sort_values(by="price", ascending=False) # .sort_values(by="기준")은 데이터 프레임을 기준에 따라 정렬함(기본 오름차순)
# 괄호 안에 ascending=True/False를 입력하면 오름차순/내림차순을 선택할 수 있
print(df_sorted)

    id     name    category  price  stock
6    7   Item_7  Category_4  99.20     48
9   10  Item_10         NaN  98.91     32
11  12  Item_12  Category_2  95.71     34
15  16  Item_16  Category_4  90.41     35
5    6   Item_6  Category_1  89.61     44
16  17  Item_17         NaN  89.48     35
1    2   Item_2  Category_3  68.38     39
19  20  Item_20  Category_3  55.54     47
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
7    8   Item_8  Category_2  36.49      6
14  15  Item_15  Category_5  35.23     21
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
8    9   Item_9  Category_3  19.18     37
0    1   Item_1  Category_3  18.70     43
2    3   Item_3  Category_3    NaN      1
10  11  Item_11  Category_4    NaN     32

연습문제 1. CSV 파일 저장하기

df.to_csv("new_data.csv", index=False)를 사용하여 데이터를 저장하고 다시 불러들여 내용을 살펴보라.

In [24]:
import pandas as pd
df=pd.read_csv("data.csv")
df.to_csv("new_data.csv", index=False) # .to_csv("이름")은 데이터 프레임을 해당 이름의 새로운 .csv 파일로 저장함
newdf=pd.read_csv("new_data.csv")
print(newdf)

    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

연습문제 2. 데이터프레임에서 여러 칼럼 선택하기

df[["column1", "column2"]]를 사용하여 여러 개의 컬럼을 선택하라.

In [30]:
import pandas as pd
df=pd.read_csv("data.csv")
df_name_price=df[["name", "price"]] # 열 선택 시 대괄호를 두 개 쳐야 함
# 데이터프레임[["이름1", "이름2"]]는 데이터 프레임에서 이름1, 이름2의 열만을 선택함
print(df_name_price)

       name  price
0    Item_1  18.70
1    Item_2  68.38
2    Item_3    NaN
3    Item_4  51.88
4       NaN  49.17
5    Item_6  89.61
6    Item_7  99.20
7    Item_8  36.49
8    Item_9  19.18
9   Item_10  98.91
10  Item_11    NaN
11  Item_12  95.71
12  Item_13  27.81
13  Item_14  20.11
14  Item_15  35.23
15  Item_16  90.41
16  Item_17  89.48
17  Item_18  43.99
18  Item_19  38.00
19  Item_20  55.54

연습문제 3. 데이터프레임의 특정 행 선택하기

.iloc[] 또는 .loc[]을 사용하여 특정 행을 선택하는 방법을 연습하라.

In [38]:
import pandas as pd
df=pd.read_csv("data.csv")
df_012=df.iloc[[0, 1, 2], ] # .iloc[[n], [m]]은 입력한 번호의 행과 열만을 지정함
print(df_012)
# .loc[[행], [열]]은 모든 행의 이름이 지정되었을 경우 입력한 이름의 행과 열만을 지정함

   id    name    category  price  stock
0   1  Item_1  Category_3  18.70     43
1   2  Item_2  Category_3  68.38     39
2   3  Item_3  Category_3    NaN      1

연습문제 4. 결측치를 평균으로 채우기

.fillna(df["컬럼명"].mean())을 사용하여 결측치를 평균값으로 채워라.

In [48]:
import pandas as pd
df=pd.read_csv("data.csv")
print(df.isnull().sum())
df["price"]=df["price"].fillna(df["price"].mean()) # .mean()은 해당 열의 평균값을 구함
# price 열만의 결측치를 대체함
print(df)

id          0
name        1
category    2
price       2
stock       0
dtype: int64
    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3  57.10      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4  57.10     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

연습문제 5. 조건을 만족하는 행 필터링

df[df["price"] > 50]을 사용하여 price가 50보다 큰 행만 선택하라.

In [51]:
import pandas as pd
df=pd.read_csv("data.csv")
df_50=df[df["price"]>50] # price 열의 값이 50 이상인 행만을 지정함
print(df_50)

    id     name    category  price  stock
1    2   Item_2  Category_3  68.38     39
3    4   Item_4  Category_3  51.88     14
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
9   10  Item_10         NaN  98.91     32
11  12  Item_12  Category_2  95.71     34
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
19  20  Item_20  Category_3  55.54     47

연습문제 6. 새로운 컬럼 추가하기

df["new_column_name"] = df["price"] * 1.2를 사용하여 새로운 컬럼을 추가하라.

In [54]:
import pandas as pd
df=pd.read_csv("data.csv")
df["price12"]=df["price"]*1.2 # price 열의 값에 1.2를 곱한 값을 새로운 열로 추가함
print(df)

    id     name    category  price  stock  price12
0    1   Item_1  Category_3  18.70     43   22.440
1    2   Item_2  Category_3  68.38     39   82.056
2    3   Item_3  Category_3    NaN      1      NaN
3    4   Item_4  Category_3  51.88     14   62.256
4    5      NaN  Category_5  49.17      4   59.004
5    6   Item_6  Category_1  89.61     44  107.532
6    7   Item_7  Category_4  99.20     48  119.040
7    8   Item_8  Category_2  36.49      6   43.788
8    9   Item_9  Category_3  19.18     37   23.016
9   10  Item_10         NaN  98.91     32  118.692
10  11  Item_11  Category_4    NaN     32      NaN
11  12  Item_12  Category_2  95.71     34  114.852
12  13  Item_13  Category_2  27.81     11   33.372
13  14  Item_14  Category_5  20.11     10   24.132
14  15  Item_15  Category_5  35.23     21   42.276
15  16  Item_16  Category_4  90.41     35  108.492
16  17  Item_17         NaN  89.48     35  107.376
17  18  Item_18  Category_5  43.99     36   52.788
18  19  Item_19  Category_2  38.00     35   45.600
19  20  Item_20  Category_3  55.54     47   66.648

연습문제 7. 데이터프레임의 중복 행 제거하기

.drop_duplicates()를 사용하여 중복 데이터를 제거하는 방법을 연습하라.

In [63]:
import pandas as pd
df=pd.read_csv("data.csv")
row_to_insert = df.iloc[9].copy() # 10번째 행을 복사한 행을 만듦
# .copy()는 해당 행과 같은 행을 만듦
df_duplicate=pd.concat([df.iloc[:14], pd.DataFrame([row_to_insert]), df.iloc[14:]], ignore_index=True)
print(df_duplicate)
df_delduplicate=df.drop_duplicates() # .drop_duplicates()는 데이터 프레임에서 중복된 행을 삭제함
print(df_delduplicate)

    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  10  Item_10         NaN  98.91     32
15  15  Item_15  Category_5  35.23     21
16  16  Item_16  Category_4  90.41     35
17  17  Item_17         NaN  89.48     35
18  18  Item_18  Category_5  43.99     36
19  19  Item_19  Category_2  38.00     35
20  20  Item_20  Category_3  55.54     47
    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

연습문제 8. 데이터프레임의 특정 컬럼 삭제하기

.drop(columns=["컬럼명"])을 사용하여 특정 컬럼을 제거하는 방법을 연습하라.

In [67]:
import pandas as pd
df=pd.read_csv("data.csv")
df_id=df.drop(columns=["id"]) #.drop(columns=[열 이름])을 통해 원하는 열을 삭제할 수 있음
print(df_id)

       name    category  price  stock
0    Item_1  Category_3  18.70     43
1    Item_2  Category_3  68.38     39
2    Item_3  Category_3    NaN      1
3    Item_4  Category_3  51.88     14
4       NaN  Category_5  49.17      4
5    Item_6  Category_1  89.61     44
6    Item_7  Category_4  99.20     48
7    Item_8  Category_2  36.49      6
8    Item_9  Category_3  19.18     37
9   Item_10         NaN  98.91     32
10  Item_11  Category_4    NaN     32
11  Item_12  Category_2  95.71     34
12  Item_13  Category_2  27.81     11
13  Item_14  Category_5  20.11     10
14  Item_15  Category_5  35.23     21
15  Item_16  Category_4  90.41     35
16  Item_17         NaN  89.48     35
17  Item_18  Category_5  43.99     36
18  Item_19  Category_2  38.00     35
19  Item_20  Category_3  55.54     47

연습문제 9. 데이터프레임을 엑셀 파일로 저장하기

df.to_excel("data.xlsx", index=False)을 사용하여 데이터를 엑셀 파일로 저장하라.

In [70]:
import pandas as pd
df=pd.read_csv("data.csv")
df.to_excel("data.xlsx", index=False)
df_excel=pd.read_excel("data.xlsx")
print(df_excel)

    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5      NaN  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10         NaN  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17         NaN  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47

연습문제 10. 데이터프레임을 JSON 파일로 저장하기

df.to_json("data.json")을 사용하여 데이터를 JSON 파일로 저장하라.

In [72]:
import pandas as pd
df=pd.read_csv("data.csv")
df.to_json("data.json")
df_json=pd.read_json("data.json")
print(df_json)

    id     name    category  price  stock
0    1   Item_1  Category_3  18.70     43
1    2   Item_2  Category_3  68.38     39
2    3   Item_3  Category_3    NaN      1
3    4   Item_4  Category_3  51.88     14
4    5     None  Category_5  49.17      4
5    6   Item_6  Category_1  89.61     44
6    7   Item_7  Category_4  99.20     48
7    8   Item_8  Category_2  36.49      6
8    9   Item_9  Category_3  19.18     37
9   10  Item_10        None  98.91     32
10  11  Item_11  Category_4    NaN     32
11  12  Item_12  Category_2  95.71     34
12  13  Item_13  Category_2  27.81     11
13  14  Item_14  Category_5  20.11     10
14  15  Item_15  Category_5  35.23     21
15  16  Item_16  Category_4  90.41     35
16  17  Item_17        None  89.48     35
17  18  Item_18  Category_5  43.99     36
18  19  Item_19  Category_2  38.00     35
19  20  Item_20  Category_3  55.54     47